* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


.About-Nav {
    margin-top: 0rem;
    background-image: url("images/bg.png");
    min-height: 45rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    height: auto;
    justify-content: center;
}

.About-Nav .topnav {
    overflow: hidden;
    background-color: rgba(3, 19, 109, 0);
}

.About-Nav .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem;
}

.About-Nav .topnav a:hover {
    background-color: rgba(1, 33, 53, 0.671);
    color: rgb(255, 255, 255);
}

.About-Nav .text h1 {
    text-align: center;
    color: rgb(1, 37, 71);
    font-size: clamp(2rem, 8vw, 10rem);
    margin: 3rem 3rem 3rem;
    margin-top: 10rem;
    margin-left: 5rem;
    
}

.About-Nav  .card {
    background-color: rgb(255, 255, 255);
    /* display: flex;
    flex-wrap: wrap; */
    /* flex-direction: column; */
    width: clamp(30rem, 100vw, 100rem);
    /* margin-left: clamp(2rem,8vw,13rem); */
    border-radius: 2rem;
    /* position: absolute; */
    box-shadow: 0rem 2rem 1rem rgb(100, 100, 100);
}

.About-Nav .card .card-text h1 {
    font-size: clamp(2rem, 3vw, 4rem);
    margin-left: 3rem;
    padding: 4rem;

}

.About-Nav .card .card-text p {
    font-size: clamp(0rem, 2vw, 3rem);
    padding-right: 7rem;
    padding-left: 8rem;
}