* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .NavSection {
    margin-top: 0rem;
    background-image: url("images/bg.jpg");
    height: 100%;
    min-height: 64rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .NavSection .container {
    position: absolute;
    margin: 3rem;
    width: auto;
    max-width: 90rem;
  }
  
  .NavSection .container .topnav {
    overflow: hidden;
    background-color: rgba(3, 19, 109, 0);
  }
  
  /* Navbar links */
  .NavSection .container .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem;
  }
  
  .NavSection .container .topnav a:hover {
    background-color: rgba(1, 33, 53, 0.671);
    color: rgb(255, 255, 255);
  }
  
  .NavSection .container .text {
    margin-top: 6rem;
  }
  
  .NavSection .container .text h1 {
    text-align: left;
    color: #f2f2f2;
    font-size: clamp(2rem, 3vw, 6rem);
    text-shadow: 0.2rem 0.6rem #3a3a3a79;
  }
  
  .sub-text {
    width: 55rem;
    float: left;
    margin-top: 4rem;
    color: #f2f2f2;
    font-size: clamp(2.2rem, 2.0vw, 4rem);
  }
  
  .NavSection .container .buttons {
    margin-top: 16rem;
    margin-left: 8rem;
    height: 8rem;
    width: 40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .NavSection .container .buttons .button1 {
    background-color: rgb(1, 33, 53);
    font-size: clamp(0.5rem, 2.0vw, 2rem);
    height: 5rem;
    width: 16rem;
    border: none;
    color: rgb(253, 253, 253);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 2.4rem;
    margin-left: 1.875rem;
  }
  
  .NavSection .container .buttons .button1:hover {
    background-color: #f1f1f1bb;
    color: rgb(2, 48, 107);
  }
  
  .NavSection .container .buttons .button2 {
    height: 5rem;
    width: 16rem;
    font-size: clamp(0.5rem, 2.0vw, 2rem);
    background-color: rgb(245, 248, 250);
    border: none;
    color: rgb(2, 48, 107);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 2.4rem;
    margin-left: 1.875rem;
  
  }
  
  .NavSection .container .buttons .button2:hover {
    background-color: #011b63b6;
    color: blanchedalmond;
  }
  
  
  .cardSection {
    background-color: #d0eeed;
    padding-top: 7rem;
    position: relative;
  }
  
  h1 {
    color: rgb(20, 20, 61);
    font-size: clamp(2rem, 2.5vw, 4.5rem);
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 4rem;
  }
  
  .flex-container .image img {
    border-radius: 0.8rem;
    padding: 1rem;
    width: 100%;
    max-width: 10rem;
    height: auto;
    background-color: #d0eeed;
  }
  
  .image {
    padding: 3rem 2rem 2rem 2rem;
    margin: 1rem 6rem -4rem 6rem;
    position: absolute;
    width: 12rem;
    height: 12rem;
    background: #d0eeed;
    -moz-border-radius: 6.5rem;
    -webkit-border-radius: 6.5rem;
    border-radius: 6.5rem;
  
  }
  
  .cards {
    justify-content: center;
    width: 35rem;
    height: 28.4rem;
    background-color: white;
    border-radius: 5.2rem;
    margin: 2rem;
    box-shadow: 0rem 1.5rem 1rem rgb(148, 148, 148);
  }
  
  .cards p {
    margin-top: .8rem;
    color: gray;
    font-size: clamp(1rem, 2.5vw, 2rem);
    padding: .5rem 1.3rem 0rem 1.3rem;
    text-align: left;
    justify-content: center;
  }
  
  .cards h2 {
    padding: 4.5rem 1.3rem .5rem 1.3rem;
    text-align: center;
    color: rgb(20, 20, 61);
    font-size: clamp(1rem, 2.5vw, 2.5rem);
  }
  
  .goalsSection {
    background-color: #d0eeed;
  }
  
  .goalsContainer {
    /* margin-top: 4.0rem; */
    padding-top: 3rem;
    background-color: white;
    width: 100%;
    max-width: 140rem;
  
  }
  
  .goalsSection .goalsContainer .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .goalsSection .goalsContainer h1 {
    margin-top: 2rem;
    font-size: clamp(2rem, 2.5vw, 4.5rem);
  }
  
  .goalsContainer .flex-container img {
    width: 100%;
    max-width: 70rem;
    height: 50rem;
  }
  
  .goalsContainer .flex-container .text-box {
    margin-top: 3rem;
    position: relative;
    width: 100%;
    max-width: 70rem;
    height: auto;
    padding: 1.5rem;
  }
  
  .goalsContainer .flex-container .text-box p {
    font-size: clamp(0.5rem, 2.5vw, 3.5rem);
    color: rgb(96, 95, 95);
    text-align: left;
  
  }
  
  .imagesSection .images-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 4rem;
  }
  
  .imagesSection .images-container .images img {
    width: 100%;
    max-width: 30rem;
    height: 30rem;
  }
  
  .img {
    background-image: url("images/img.jpg");
    height: 100%;
    filter: blur(0.3rem);
    -webkit-filter: blur(0.3rem);
    min-height: 64rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .bg-text {
    background-color: rgb(255, 253, 253);
    background-color: rgba(255, 254, 254, 0.199);
    transform: translate(0%, -130%);
    z-index: 2;
    width: 100%;
    padding: 0.2rem;
    text-align: center;
  }
  
  .bg-text h1 {
    color: rgb(2, 52, 85);
    font-size: clamp(2rem, 4vw, 6rem);
  }
  
  .bg-text p {
    margin-top: 3rem;
    color: white;
    font-size: clamp(1.25rem, 2.0vw, 2.5rem);
    line-height: 3.4rem;
  }
  
  .bg-text .button {
    margin-top: 3rem;
    background-color: rgb(1, 55, 80);
    color: white;
    border: none;
    font-size: clamp(0.5rem, 2.0vw, 2rem);
    height: 5rem;
    width: 19rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 2.4rem;
  }
  
  .text-container {
    margin-top: -37rem;
    width: 100%;
    padding: 2.0rem;
  }
  
  .text-container h1 {
    color: rgb(2, 52, 85);
    font-size: clamp(2rem, 3.5vw, 6rem);
  }
  
  .text-container p {
    line-height: 3rem;
    margin-top: 3rem;
    color: rgb(48, 47, 47);
    font-size: clamp(1.25rem, 1.9vw, 2.5rem);
    text-align: center;
  
  }
  .ReasonSection {
    background-color: #d0eeed;
    border-radius: 5.4rem;
    margin-top: 3rem;
  }
  
  .ReasonSection h1 {
    padding-top: 6rem;
    font-size: clamp(2rem, 3.5vw, 6rem);
    font-weight: bold;
  }
  
  .ReasonSection .flex-container .features-cards {
    width: 100%;
    max-width: 57rem;
    justify-content: center;
    height: 27.4rem;
    background-color: white;
    border-radius: 5.2rem;
    margin: 3rem;
    box-shadow: 0rem 1.5rem 1rem rgb(148, 148, 148);
  
  }
  
  .ReasonSection .flex-container .features-cards h2 {
    margin-top: 3rem;
    text-align: center;
    color: rgb(20, 20, 61);
    font-size: clamp(1rem, 2.5vw, 2.5rem);
  }
  
  .ReasonSection .flex-container .features-cards .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
  }
  
  .ReasonSection .flex-container .features-cards .content img {
    width: 100%;
    max-width: 16rem;
    height: 20rem;
    margin-top: 0%;
  }
  
  .ReasonSection .flex-container .features-cards .content p {
    margin-top: 1.25rem;
    font-size: clamp(0.5rem, 2.5vw, 2.2rem);
    color: black;
    text-align: left;
    width: 100%;
    max-width: 29rem;
  }
  
  .SolutionNav {
    height: 70rem;
    background-image: url(images/solution.png);
    background-size: 120rem 120rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .SolutionNav .topnav {
    overflow: hidden;
    background-color: #018E86;
  }
  
  .SolutionNav .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem;
  }
  
  .SolutionNav .topnav a:hover {
    background-color: rgba(2, 51, 81, 0.671);
    color: rgb(255, 255, 255);
  }
  
  .SolutionNav .flexContainer .textArea {
    width: 70rem;
    padding: 5rem;
  }
  
  .SolutionNav .flexContainer .text {
    margin-top: 3rem;
    width: 80rem;
  }
  
  .SolutionNav .flexContainer .text h1 {
    text-align: left;
    color: #1B2D55;
    font-size: clamp(2rem, 3vw, 6rem);
    margin-top: 9rem;
  }
  
  .SolutionNav .sub-text {
   width: 60rem;
   float: left;
   margin-top: 6rem;
   color: #1B2D55;
   font-size: clamp(2.2rem, 2.0vw, 4rem);
  }
  
  .solutionDisability {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .solutionDisability .solution-text h1{
    margin-top: 2rem;
    color: #122a5e;
  }
  .solutionDisability .solution-text p{
    font-size: clamp(0.5rem, 2.5vw, 2.2rem);
    margin-top: 3rem;
    width: 100rem;
  }
  .solutionDisability .Text h1{
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-top: 3rem;
    width: 70rem;
    color: #122a5e;
  }
  
  .solutionDisability .cards-box {
    margin-top: 3rem;
    background-image: url(images/bg1.png);
    background-size: 100rem 90rem;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .solutionDisability .cards-box .solutionCards{
    background-color: #018e877d;
    width: clamp(40rem, 60vw, 60rem);
    margin: 3rem;  
    justify-content: center;
    border-radius: 5.2rem;
    box-shadow: 0rem 1.5rem 1rem rgb(148, 148, 148);
    border: 2px solid #1B2D55;
  }
  .solutionDisability .cards-box .solutionCard{
    background-color: rgba(255, 255, 255, 0.55);
    margin: 3rem;  
    width: clamp(40rem, 60vw, 60rem);
    justify-content: center;
    border-radius: 5.2rem;
    box-shadow: 0rem 1.5rem 1rem rgb(148, 148, 148);
    border: 2px solid #1B2D55;
  }
  .solutionDisability .cards-box .solutionCards h2, .solutionCard h2{
    margin-top: 3rem;
    text-align: center;
    color: rgb(20, 20, 61);
    font-size: clamp(1rem, 2.5vw, 2.5rem);
  }
  .solutionDisability .cards-box .solutionCards p, .solutionCard p{
    font-size: clamp(0.5rem, 2.5vw, 2.2rem);
    color: black;
    text-align: left;
    margin: 2rem;
  }
  
  .tools {
    background-image: url(images/cube-1472804_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .tools .text {
    padding: 3rem;
    margin: 0rem 25rem 0rem 25rem;
  }
  
  .tools .text h1 {
    text-align: center;
    color: rgb(20, 20, 61);
    font-size: clamp(2rem, 4vw, 5rem);
  }
  
  .tools .text p {
    color: rgb(20, 20, 61);
    font-size: clamp(2.2rem, 2.0vw, 2.6rem);
    margin-top: 2rem;
    text-align: justify;
  }
  
  .tools .heading {
    margin: 2rem 26rem 0rem 26rem;
  }
  
  .tools .heading h2 {
    color: #707070;
    font-size: clamp(2rem, 2.5vw, 4rem);
    text-align: center;
  }
  
  .tools .components {
    margin: 9rem;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .tools .components .small-card {
    background-color: white;
    color: #1B2D55;
    margin: 3rem;
    border: 2px solid black;
    border-radius: 2.2rem;
  
  }
  
  .tools .components .small-card h3 {
    color: #1B2D55;
    font-size: clamp(1.1rem, 2vw, 2rem);
    justify-content: center;
    text-align: center;
    padding: 1.9rem;
  
  }
  
  .tools .card {
    background-color: #398A89;
    border-radius: 4.6rem;
    height: clamp(20rem, 40rem, 40rem);
  }
  
  .tools .card .Content {
    margin: 0rem 25rem 0rem 25rem;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .tools .card .Content h2 {
    color: rgb(20, 20, 61);
    font-size: clamp(2rem, 4vw, 4rem);
    margin-top: 2rem;
    text-align: center;
  }
  
  .tools .card p {
    color: black;
    font-size: clamp(1rem, 2.6vw, 2.6rem);
    margin-top: 2rem;
    text-align: justify;
  }
  
  .tools .card .login-box {
    background-color: white;
    border-radius: 2rem;
    width: clamp(15rem, 47vw, 47rem);
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .tools .card .login-box p {
    text-align: center;
    font-size: clamp(0.5rem, 2vw, 2rem);
    margin: 1rem 1rem 1rem;
  }
  
  .tools .card .login-box button {
    background-color: #1B2D55;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    border: none;
    font-size: clamp(0.5rem, 1.6vw, 1.6rem);
    text-align: center;
    height: clamp(1rem, 3vw, 3rem);
    width: clamp(1rem, 8vw, 8rem);
    margin: 1rem 1rem 1rem 0rem;
  }
  
  @media(max-width:998px) {
    html {
      font-size: 55%;
    }
  
  }
  
  @media(max-width:768px) {
    html {
      font-size: 45%;
    }
  
  }